body {
    font-family: monospace;
    text-align: center;
}

button {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: blue;
    color: white;
}

button:hover {
    background-color: gray;
    color: white;
}